@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 40 10% 25%;
    --card: 60 56% 91%;
    --card-foreground: 40 10% 25%;
    --popover: 60 56% 91%;
    --popover-foreground: 40 10% 25%;
    --primary: 33 100% 64%;
    --primary-foreground: 40 10% 15%;
    --secondary: 40 100% 86%;
    --secondary-foreground: 40 10% 25%;
    --muted: 40 100% 90%;
    --muted-foreground: 40 10% 45%;
    --accent: 40 100% 86%;
    --accent-foreground: 40 10% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 85%;
    --input: 60 56% 95%;
    --ring: 33 100% 64%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 40 5% 15%;
    --foreground: 40 5% 98%;
    --card: 40 5% 15%;
    --card-foreground: 40 5% 98%;
    --popover: 40 5% 15%;
    --popover-foreground: 40 5% 98%;
    --primary: 33 80% 60%;
    --primary-foreground: 40 5% 10%;
    --secondary: 40 10% 25%;
    --secondary-foreground: 40 5% 98%;
    --muted: 40 10% 25%;
    --muted-foreground: 40 5% 60%;
    --accent: 40 10% 25%;
    --accent-foreground: 40 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 5% 25%;
    --input: 40 5% 20%;
    --ring: 33 80% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}